table {
  width: 100%;
}
.icon-remove{
  color: rgb(228, 15, 15);
  font-size: 16px;
  margin-left: 10px;
}

.icon-edit{
  color: rgba(8, 30, 102, 0.966);
font-size: 16px;
margin-left: 10px;
}

.header-card-table{
  width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 20px;
}

