<mat-card class="card_content">
  <app-autocomplete (selected)="onSelected($event)"></app-autocomplete>

  <!-- Cards with media area -->
  <mat-card class="mat-elevation-z1">
    <mat-card-title-group class="example-card">
      <div class="avatar">
        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
      </div>
      <div class="dados">
        <mat-card-title class="title-bio">Cleionesio Soares Ribeiro - 87134-X</mat-card-title>
        <mat-card-subtitle>Classe Distinta</mat-card-subtitle>
      </div>
    </mat-card-title-group>

    <mat-card class="card-lancamentos">

      <div class="lancameto-title">
        <mat-card-title class="lancameto-title-principal">Nota meritória</mat-card-title>
        <mat-card-subtitle>12/12/2018</mat-card-subtitle>
      </div>

      <div class="content-buttons">
        <button mat-raised-button  (click)="carregarPagina('visualizar')">visualizar</button>
        <button mat-raised-button color="primary"  (click)="carregarPagina('novo')">Editar</button>
        <button mat-raised-button color="warn" (click)="openDialog()">Remover</button>
      </div>


    </mat-card>
    <mat-card class="card-lancamentos ">

      <div class="lancameto-title">
        <mat-card-title class="lancameto-title-principal">Referência elogiosa</mat-card-title>
        <mat-card-subtitle>12/12/2018</mat-card-subtitle>
      </div>

      <div class="content-buttons">
        <button mat-raised-button  (click)="carregarPagina('visualizar')">visualizar</button>
        <button mat-raised-button color="primary"  (click)="carregarPagina('novo')">Editar</button>
        <button mat-raised-button color="warn" (click)="openDialog()">Remover</button>
      </div>

    </mat-card>
    <mat-card class="card-lancamentos">

      <div class="lancameto-title">
        <mat-card-title class="lancameto-title-principal">Elogio</mat-card-title>
        <mat-card-subtitle>12/12/2018</mat-card-subtitle>
      </div>

      <div class="content-buttons">
        <button mat-raised-button  (click)="carregarPagina('visualizar')">visualizar</button>
        <button mat-raised-button color="primary"  (click)="carregarPagina('novo')">Editar</button>
        <button mat-raised-button color="warn" (click)="openDialog()">Remover</button>
      </div>

    </mat-card>

  </mat-card>

  <div *ngIf="guardaSelecionado">
    {{guardaSelecionado?.nome}}<br />
    {{ guardaSelecionado?.bm}}<br />
    {{ guardaSelecionado?.cargo}}<br />
  </div>
 


</mat-card>