<mat-card class="card_content">

  <app-autocomplete (selected)="onSelected($event)"></app-autocomplete>

  <!-- Cards with media area -->
  <mat-card class="mat-elevation-z1">
    <mat-card-title-group
      class="example-card"
      *ngIf="guardaSelecionado; else otherContent"
    >
      <div class="avatar">
        <img
          mat-card-sm-image
          src="{{IMAGES_AVATAR}}/{{ guardaSelecionado.bm }}.jpg"
        />
      </div>


      <div class="dados" *ngIf="guardaSelecionado else templatesemRegistro">
        <mat-card-title class="title-bio">
          {{ guardaSelecionado.nome }} -
          {{ guardaSelecionado.bm }}
        </mat-card-title>
        <mat-card-subtitle>{{ guardaSelecionado.cargo }}</mat-card-subtitle>
        <mat-card-subtitle><app-stars [pontos]="totalpontos"> </app-stars> {{totalpontos}} pontos
        </mat-card-subtitle>

        <button
          mat-stroked-button
          color="primary"
          class="botao-add"
          (click)="carregarPaginaEditar(guardaSelecionado.bm)"
        >
          Novo registro<mat-icon>add </mat-icon>
        </button>
      </div>
    </mat-card-title-group>

    <ng-template #otherContent>
      <mat-card-title-group class="example-card">
        <div class="avatar">
          <img
            mat-card-sm-image
            src="{{IMAGES_AVATAR}}/anonimo.jpg"
          />

        </div>
        <div class="dados">
          <mat-card-title class="title-bio"
            >Gerenciamento de Ficha Individual (FIR)</mat-card-title
          >
          <mat-card-subtitle
            >Selecione um registro pra começar...</mat-card-subtitle
          >
        </div>
      </mat-card-title-group>
    </ng-template>

    <div *ngIf="lancamentos else templatesemRegistro">
      <mat-card class="card-lancamentos" *ngFor="let lanc of lancamentos">
        <div class="lancameto-title">
          <mat-card-title class="lancameto-title-principal">
            {{lanc.tipoLancamento.descricao}}
          </mat-card-title>
          <mat-card-subtitle>Pontos: {{ lanc.tipoLancamento.pontos}}</mat-card-subtitle>
          <mat-card-subtitle>{{ lanc.dataLancamento | date: 'dd/MM/yyyy'}}</mat-card-subtitle>

        </div>

        <div class="content-buttons">
          <button mat-raised-button (click)="carregarPaginavisualizar(lanc.id)">
            visualizar
          </button>
          <button
            mat-raised-button
            color="primary"
            (click)="carregarPagina(lanc.id)"
          >
            Editar
          </button>
          <button mat-raised-button color="warn" (click)="openDialog()">
            Remover
          </button>
        </div>
      </mat-card>
    </div>
    <ng-template #templatesemRegistro>
      <mat-card class="card-lancamentos">
        <div class="lancameto-title">
          <mat-card-title class="lancameto-title-principal">Nenhum lancçamento encontrado</mat-card-title
          >
          <mat-card-subtitle></mat-card-subtitle>
        </div>
      </mat-card>
    </ng-template>
    <div class="bottom-vertudo" *ngIf="lancamentos.length>1">
      <button mat-raised-button color="primary"  (click)="carregarPaginavisualizarTodos()">
            <mat-icon color="blue">description</mat-icon> Visualisar todos
      </button>

    </div>
  </mat-card>
</mat-card>
