<app-loading></app-loading>

<mat-toolbar color="primary" class="toolbar">

  <div class="logo">
    <span routerLink="/inicial">GCMBH - FIR</span>
  </div>

  <div class="menu">
    <div class="link">
      <span>ùltimos Lançamentos</span>
      <a mat-tab-link  routerLink="/definicoes"><span>Definições</span></a>
      <span>Sobre</span>

    </div>


    <span *ngIf="userLogado">
      <button mat-icon-button class="icon-exit" (click)="logout()" >
        <mat-icon>exit_to_app</mat-icon>
      </button>

    </span>
  </div>

</mat-toolbar>


<div class="container">

  <router-outlet></router-outlet>

</div>
