<mat-card>
  <div class="header">
    <div>
      <mat-card-title class="titulo-maior">{{lancamento.fir.guarda?.nome}} -
        {{lancamento.fir.guarda?.bm}}</mat-card-title>
      <mat-card-subtitle>
        <mat-card-title class="titulo-menor">{{lancamento.tipoLancamento.descricao}}</mat-card-title>

        Data lancamento {{lancamento.dataLancamento | date: 'dd/MM/yyyy'}}
      </mat-card-subtitle>
    </div>
    <button mat-button (click)="paginaInicial()">
      <mat-icon>arrow_back</mat-icon> Voltar
    </button>
  </div>

  <mat-card class="example-card">
    <mat-card-title class="title">Orígem</mat-card-title>
    <mat-card-subtitle> {{lancamento.fir.data| date: 'dd/MM/yyyy'}}</mat-card-subtitle>
    <mat-card-content>
      <p>{{lancamento.fir.origem}}</p>
    </mat-card-content>

    <mat-divider inset style="  margin-bottom:20px;margin-top:20px"></mat-divider>


    <mat-card-title class="title">Defesa</mat-card-title>
    <mat-card-subtitle> {{lancamento.fir.defesa.defesa| date: 'dd/MM/yyyy'}}</mat-card-subtitle>
    <mat-card-content>
      <p>{{lancamento.fir.defesa.defesa}}</p>
    </mat-card-content>

    <mat-divider inset style="  margin-bottom:20px;margin-top:20px"></mat-divider>


    <mat-card-title class="title">Decisão</mat-card-title>
    <mat-card-subtitle> {{lancamento.fir.decisao.dataDecisao| date: 'dd/MM/yyyy'}}</mat-card-subtitle>
    <mat-card-content>
      <p>{{lancamento.fir.decisao.decisao}}</p>
    </mat-card-content>

  </mat-card>

</mat-card>