.example-spacer {
    flex: 1 1 auto;
}

.example-icon {
    margin-right: 20px;
}

mat-sidenav-container {
    height: 100vh;
}

mat-sidenav {
    width: 200px;
    padding: 15px;
}

mat-sidenav-content {
    padding: 15px;
}

mat-expansion-panel {
    margin-top: 10px;
}

.container {
    padding: 15px;
    border: 1px solid rgba(223, 212, 212, 0.8);
    border-radius: 7px;
}

mat-panel-title {
    font-weight: bold;
    color: rgba(18, 36, 95, 0.733);
}

.menu-ul {
    font-weight: bold;
    margin:20px 10px;
    list-style-type: none;
    padding: 0;
    font-size: 16px;
    color: rgba(18, 36, 95, 0.733);
}

.menu-ul li {
    margin-top: 10px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }